.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  transform: scale(0.5);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  will-change: transform, opacity;
  transform-origin: center center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.full-screen-enter {
  transform: scale(0.5);
  opacity: 0;
}

.full-screen-enter-active {
  transform: scale(1);
  opacity: 1;
}

.full-screen-enter-done {
  transform: scale(1);
  opacity: 1;
}

.full-screen-exit {
  transform: scale(1);
  opacity: 1;
}

.full-screen-exit-active {
  transform: scale(0);
  opacity: 0;
}

.full-screen-exit-done {
  transform: scale(0);
  opacity: 0;
}
